<!DocType html>
<html>
<head><link rel="stylesheet" href="../assests/css/about.css">
        <title>Assi</title>
</head>
<body>
<div class="main">
    <div class="poveda"><a href="../index.html">POVEDA</a></div>
   <div class="cool1"><a href="./pricing.html">PRICING</a></div>
    <div class="cool2"><a href="./visit.html">VISIT</a></div>
    <div class="cool3"><a href="./aboutus.html">ABOUT US</a></div>
    <div class="cool4"><a href="./contact.html">CONTACT</a></div>
</div><br><br><br>
<div class="what">LATE'S MOVE TO BALI </div>
<div class="h7"><center>&nbsp;&nbsp;KNOW ABOUT US</center></div>
<br>
<div class="h3">
 
</div>><br><br><br><br><br>

<div class="main32"><img src="../assests/image/car.gif" width="400px" height="300px">

    </div>
</div></center>



<div class="gogo">
    <div class="lastfoter12">
        <div class="subscribe"><h1>OVER COMPANY</h1></div>
        <div class="je"><P>Amazing, all-inclusive resorts, beautiful beaches and mindfulness sessions - these are just a few of the things that will help you relax and enjoy your holiday.</P><br></P></div>
        <div> <b></b><input type="submit" value="LEARN MORE"></div>
    </div>
  
</div>

<div class="adventure"><img src="../assests/image/sirsajjad.jpg" width="300px" height="300px">
    <div class="lastfoter122">
        <div class="adventure1"><h1></h1></div>
        <div class="je1"><br></P></div>
    </div>
    <div class="from500"><br><br><br><br><h1>Sajjad Ali Charan</h1><P>“I’ve been traveling my whole life. My parents had a burning passion for exploring which I have inherited. It's no surprise that I was destined to meet Miller on my vacation on Hawaii. Since then we’ve been sight-seeing together up until we’ve fell in love with Bali.”</P></div>
</div>

<div class="adventure007">
    <div class="lastfoter122">
        <div class="adventure1"><h1></h1></div>
        <div class="je1"><br></P></div>
    </div>
    <div class="from500007"><br><br><br><br><h1>Fayyaz Ali Soomro</h1><P>“I am inspired by nature and diversity of planet Earth. I'm a photographer and take pictures wherever I go - same goes for my beloved Bali. I am lucky to share my time with amazing Jessie, who is the best companion to explore this island with. Together, we've turned every stone in this place and are ready to share our finding with you.”</P></div>
    <img src="../assests/image/sirfayyaz.jpg" width="300px" height="300px">
</div>



<div class="gogo12">
    <div class="lastfoter123">
        <div class="subscribe"><h1>CONTACT US</h1></div>
        <div class="je"><P>Bali is an amazing place to find exactly what you are looking for, be it relief from stress, an exciting adventure or an immersive culture. Contact us so we can help you organize a memorable stay at one of the most magical places on the planet.</P><br></P></div>
    </div>
    <div class="all-inputs">
        <label>Name*</label><br><input type="text" placeholder="Your name"><br><br>
        <label>Last name</label><br><input type="text" placeholder="Your last name"><br><br>
        <label>Your email*</label><br><input type="email" placeholder="Your email address"><br><br><label>Message</label>
        <div class="box"><textarea rows="10" cols="60">Enter your message</textarea></div>
    </div>
    <div class="finalsubmit"> <b></b><input type="submit" value="LEARN MORE"></div>
</div>



<div class="lastmain">
    <div class="endpovida"><h1>POVIDA</h1></div>
    <div class="ancer">
        <a href="">About us</a><br>
        <a href="">Visit</a><br>
        <a href="">Pricing</a><br>
        <a href="">Contact</a>
    </div>
    <div class="email"><p>fayyazsoomro01@gmail.com<br>0312-3001817</p>
        <div class="mainnice00">
            <div><img src="../assests/image/cool.png" width="80px" height="40px"></div>
         
        
            </div>

</div>
</body>
</html>