body{
    background-color:#1B8A6B;
    background-image: url("../image/main12.gif");
    background-repeat: no-repeat;
    background-size: 102em 60em;
    overflow-x: hidden;
    background-position-x: -5em;
    background-position-y: -15em;
    height:10em;
   
}
.submityes [type=submit]{
    margin-left:8em;
    width:120px;
    background-color:rgb(46, 136, 80);
}
.submityes [type=submit]:hover{
    margin-left:8em;
    width:120px;
    background-color:rgb(226, 234, 229);
    color:#3f644a;
}
.main{
    display: flex;
    width:100%;
    height:4em;
    margin-top: 20px;
    text-decoration: none;
    color:white;
    position:fixed;
    background-color: rgb(193, 158, 126,0.3);
    margin-left: -6px;
}

a{
   
    text-decoration: none;
}
a:hover{
    color:rgb(210, 216, 178) ;
    text-decoration: underline;
    transition: 0.1s;
    border:none;
    transform:scale(0.3);


}
.nice{
    margin-left: 17em;
    margin-top: 18px; 
}
.poveda{
    margin-top: 20px; 
    text-decoration: none;
    margin-left: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    
}

.cool1{
    margin-left: 70em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
a{
    color:azure;
    
}
h1{ color:azure;}
.cool2{
    margin-left: 1em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    
}
.cool3{
    margin-left: 0em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.cool4{
    margin-left: 1em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.h7{
    color:azure;
    font-size: 7em;
    margin-top: 20px;
}
.what{
   width:20em;
}

pre{
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-left: 45px;
    line-height: 25px;
}
.h3{
    
    border:3px dotted rgb(237, 245, 245);
    padding: 8px;
    width:129px;
    border-radius: 20px;
    color:rgb(241, 245, 245);
    text-align: center;
    margin-left: 40px;
    height:26px;
    font-size:13px;
   

    
}
.h3 p:hover{
    margin-top:-5px;
    background-color:lightseagreen;
    transition:4s;
    transform:scale(1.3);
    padding: 10px;
    border-radius: 21px;
    
  
   

}

.my{
background-color: white;
width: 79%;
height: auto;
padding: 10px;
box-shadow: -10px -5px 10px 1px rgb(228, 23, 23);
}
.hero iframe{
box-shadow: 4px 6px 6px 2px rgb(224, 243, 118);
margin-left: 150px;
width:60px%;
height:250px;
margin-top:20px;
}
.yes{
    margin-top:2em;

}

  




}
.downpic2{
    display:flex;
    width:40px;
    background-color: red;
}
.downpic2 img{
    width:40em;
    margin-left: 50;
    height:60em;
}
.backleft{
    width:100em;
    margin-left: 100px;
    
}

}
.downpic2right img{
    margin-left: 10.1em;
    width:40em;
    margin-top:0em;
}

.placetext1 p{
    width:500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    margin-left:110px;
    color:darkslategray;
}
.downimg2 img{
    width:20em;
    margin-left:47em;
    margin-top: -450px;
    width:40em;
    height:60em;

}









}
.mainlast{
    display:flex;
}

.mainlast input{
    margin-left:40em;
}

.gogo{
    
    display:flex;
    background-image: url("tree.png");
    margin-top:22em;
    background-color: #485342;
    background-repeat: no-repeat;
    background-position: 262px;
    background-size: cover;
    height:24em;
    width:110%;
    margin-left:-2em;

}
.table tbody{
    background-color:rgb(93, 159, 93);
}
.gogo33{
    
    display:flex;
    background-color: #485342;
    background-image: url("lion.png");
    background-repeat: no-repeat;
    background-position: 900px;
    height:30em;
    width:110%;
    margin-left:-2em;
    background-size: contain;
    

}
.adventure{
    display:flex;
    background-repeat: no-repeat;
    background-size: 300px 350px;
    background-color:#3f644a;
    height:30em;
    width:110%;
    margin-left:-2em;
    color:white;
    background-position: 20px;
}
.adventure img{
    border:4px dotted #485342;
    margin-left:90px;
    margin-top:70px;
    box-shadow: 6px 6px 10px 4px #485342;
}

.adventure331{
    display:flex;
    background-image:url("lastimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#C7CEC9;
    height:30em;
    width:110%;
    margin-left:-2em;
    color:#485342;
    background-position: 20px;
}
.lastfoter122{
    color:white;
    
}




.from420 h1{
    margin-left:270px;
    margin-top:-60px;
    font-size: 6em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 1px rgb(235, 235, 123);
}
.from420 h6{
    color:white;
    margin-left:330px;
    margin-top:70px;
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.from500 h1{
    margin-left:-400px;
    margin-top:0px;
    font-size: 4em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color:white;
}
.from500 P{
    color:white;
    margin-left:-400px;
    margin-top:70px;
    font-size: 20PX;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
    width: 400px;
}

S
.cool6 input{
    background-color:#B0B6B1;
    color:#485342;
    border:none;
    height:40px;
    width:50em;
    margin-top:20px;
    margin-left:13em;
}
.cool6 input:hover{
    background-color:#e5efe6;
    color:#485342;
    border:none;
    height:40px;
    transition:0.4s;
}
::-webkit-input-placeholder{
    color:#72947a;

}
.cool7 input::placeholder{
    color:blue;
}
.lastfoter2 label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:-30px;
    margin-left:11em;
    
}
input[type=submit]
{
    color:white;
    border-radius:50px;
    margin-top:-20px;
    background-color:#485342;
    border:3px solid white;
    width:14em;
    height:2.5em;
    font-size: 2;
    letter-spacing: 2px;
    text-decoration: solid;
    margin-left:11em;
}
input[type=submit]:hover{
    background-color:#e5efe6;
    transition: 0.4s;
    color:lightslategray;
    border-color:lightslategray;
}
.subscribe{
    font-size:20px;
    letter-spacing:2px;
    font-style: normal;
    text-decoration:;
    margin-left:8em;
    margin-top:-4em;
    
}
.subscribe33{
    font-size:20px;
    letter-spacing:2px;
    font-style: normal;
    text-decoration:;
    margin-left:8em;
    margin-top:8em;
    
}

.adventure1{
    font-size:25px;
    letter-spacing:2px;
    font-style: normal;
    text-decoration:;
    margin-left:6em;
    margin-top:2em;
}
.adventure1 h1{
    color:white;
    
}
.adventure133{
    display:flex;
    background-repeat: no-repeat;
    background-size: 300px 350px;
    background-color:#d98715;
    height:30em;
    width:110%;
    color:#485342;
    background-position: 20px;

}


.je p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:9.5em; 
    letter-spacing: 0.5px;
    line-height: 27px;
    color:white;
    width:600px;
    height:12px;
}
.je1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:9.5em; 
    letter-spacing: 0.5px;
    line-height: 27px;
    color:white;
    width:600px;
    height:12px;
}



.lastmain{
    display:flex;
    position: center;
    margin-top:90px;
    margin-left:100px;
    color:white;
}
.lastmain a{
    margin-left:30em;
    color:white;
}
.email p{
    margin-left:10em;
    color:white;
    margin-top:-2px;
}
.lastmain h1{
    color:white;
}
.email img{
    margin-left:13.5em;
    
}
.submit input:hover{
    background-color: white;
    transition: 2s;
}
.gogo input{
    background-color:#A6ACA7;
    color:white;
}
.box textarea{
    background-color:#A6ACA7;
    color:rgb(99, 113, 113);
    border: none;
}
.box textarea:hover{
    background-color:#f5faf6;
    color:rgb(99, 113, 113);
    border: none;
    transition: 0.5s;
}

.all-inputs{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:7em;
    margin-left: 5em;
    font-size: 14px;
    

    

}
.all-inputs input{
    width:34em;
    height:3em;
    background-color: #A6ACA7;
    border: none;
}
.all-inputs input:hover{
    width:34em;
    height:3em;
    background-color: #f1f8f2;
    transition: 0.5s;
    border: none;
}
.gogo12{
    
    display:flex;
    background-color:#2F3A29;
    height:40em;
    width:auto;
    margin-left:-2em;
}
.lastfoter123{
    margin-top:10em;
}
.finalsubmit input{
    margin-top:40em;
    margin-left: -34em;
}
.yes{  
    display:flex;
}
.kya{
    display:flex; 
    margin-left:px;
}
.pic1{
    width: 3%;
    height: 3em;
    background-color: #356EB8;
    animation: 5s infinite pic1;
}
@keyframes pic1 {
    10%{
        background-color:#4C6D33;
        margin-top: 5em;
        transform: move(1.5);
        display: none;
    
    }
}
.pic2{
    width: 3%;
    height: 3em;
    background-image:#844E47;
    animation: 5s infinite pci2;
    margin-left:10px;
  
}
@keyframes pci2 {
    20%{
        background-color: #364439;
        margin-top: 5em;
        transform: move(1.5);
        display: none;
    
    }
}
.pic3{
    width: 3%;
    height: 3em;
    background-color: red;
    animation: 5s infinite pic3;
    margin-left:10px;
  
}
@keyframes pic3 {
    10%{
        background-color: lighred;
        margin-top: 5em;
        transform: move(1.5);
        display: none;
    
    }
}
.pic4{
    width: 3%;
    height: 3em;
    background-image:-moz-linear-gradient(red,green,blue,white);
    animation: 5s infinite pci4;
    margin-left:10px;
  
}
@keyframes pci4 {
    20%{
        background-color: yellow;
        margin-top: 5em;
        transform: move(1.5);
        display: none;
    
    }
}
.pic6{
    width: 15%;
    height: 2em;
    background-image: -moz-linear-gradient(red,green,blue,white);
    margin-left:10px;
  
}

.main2{
    display:flex;
}
.adventure331 h1{
    color:white;
}
.adventure331 p{
    color:white;
}

.main32{
    width: 10%;
    height: 10em;
	background-image:url("car.gif");
    animation:10s fayyaz;
}
@keyframes fayyaz {
    2%{
        transform: move(5.10);
		margin-left:1000px;
		background-image:url("car.gif");
		
    
    }
}
.table{
    margin-left:80%;
    padding: 10px;
    position: center;
    text-align: center;
    margin-top:30px;
    color:white;
}
.a{
    background-color: rgb(89, 128, 153);
}
.backcolor{
    background-image: url("topback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#485342;
    width:80em;
    height:50em;
    display: flex;
    margin-left:8em;
    border-radius: 1em;
    margin-top: 1.5em;
    border:2px solid yellowgreen;
}
.allinput label{

    color:white;
    



}
.alllabel label{
    margin-left:120px;
    width:100px;
}
.ab{
    margin-left:12px;
}
.allinput input{
    width:25em;
    height:3em;
    background-color: #485342;
    border: none;
    border-radius: 6px;
    color:white;  
}
.allinput input:hover{
    width:25em;
    height:3em;
    background-color: #eff3ec;
    border: none;
    border-radius: 6px;
    color:white;
    transition: 0.5s;  
}



.birth input{
    width:10em;
    height:3em;
    background-color: #485342;
    border: none;
    border-radius: 6px;
    color:white;
    display:flex;
} 
.birth input:hover{
    width:10em;
    height:3em;
    background-color: #f5f9f3;
    border: none;
    border-radius: 6px;
    color:#485342;
    display:flex;
    transition: 0.5;
} 
.contact input{
    
    width:10em;
    height:3em;
    background-color: #485342;
    border: none;
    border-radius: 6px;
    color:white;
    display:flex;
} 
.contact input:hover{
    
    width:10em;
    height:3em;
    background-color: white;
    border: none;
    border-radius: 6px;
    color:#485342;
    display:flex;
} 
.contact{
    display:flex;
}
.select select{
    width:10em;
    height:3em;
    background-color: #1d8b8b;
    border: none;
    border-radius: 6px;
    color:white;
    margin-left:70px;
}

.birth{
        display:flex;
}
.radio1{
    border: none;
    color:white;
    width:3em;
    display:flex;
    margin-left:20px;
    width:12px;
}

.mainofmain fieldset{
    color:white;
    margin-left:24em;
    background-color:#adbca5;
    margin-top:12px; 
    width:-10px;

}
.allinput{
    margin-top:2em;
    margin-left:4em;  
    width:27em;
    
}
.alllabel1 label{
    margin-left:120px;
    width:100px;
    margin-bottom:20em;
}
.allinput12 input{
    width:15em;
    height:2.5em;
    background-color: #485342;
    border: none;
    border-radius: 6px;
    color:white;
    margin-left:70px;
    margin-top:40px;
    
}
.net h1{
    background-color:rgb(167, 123, 41);
    border-radius: 12px;
    height:40px;
}
.mainnice00{
    width: 2px%;
    height: 0em;
    animation:3s faraz;
	display:flex;
}
@keyframes faraz {
    2%{
        transform: move(5.10);
		margin-left:300px;

		
    
    }
}
{
    margin-left:12px;
}
.mainnice00 img{
    margin-left:150px;
    position:2px;
    
}
.mainnice00{
    width: 10%;
    height: 10em;
	background-image:url("car.gif");
    animation:10s fayyaz;
}
@keyframes fayyaz {
    2%{
        transform: move(5.10);
		margin-left:1000px;
		background-image:url("car.gif");
		
    
    }
}
.mainnice00 img{
    margin-left:15em;
}


