body{
    background-color:#2E8B57;
    background-image: url("../image/carheader12.gif");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
   
}
.main{
    display: flex;
    width:100%;
    height:4em;
    margin-top: 20px;
    text-decoration: none;
    color:white;
    position:fixed;
    background-color: rgb(193, 158, 126,0.3);
    margin-left: -6px;
}

a{
   
    text-decoration: none;
}
a:hover{
    color:rgb(210, 216, 178) ;
    text-decoration: underline;
    transition: 0.1s;
    border:none;
    transform:scale(0.3);


}
.nice{
    margin-left: 17em;
    margin-top: 18px; 
}
.poveda{
    margin-top: 20px; 
    text-decoration: none;
    margin-left: 45px;
    font-size: 20px;
    letter-spacing: 1px;
    
}

.cool1{
    margin-left: 70em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
a{
    color:azure;
    
}
h1{ color:azure;}
.cool2{
    margin-left: 1em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    
}
.cool3{
    margin-left: 0em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.cool4{
    margin-left: 1em;
    width:100px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.h7{
    color:azure;
    font-size: 7em;
    margin-top: 20px;
}
.what{
    color:azure;
    font-size: 2em;
    margin-top: 25px;
    margin-left: 40px;
}

pre{
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-left: 45px;
    line-height: 25px;
}
.h3{
    
    border:3px dotted rgb(237, 245, 245);
    padding: 8px;
    width:129px;
    border-radius: 20px;
    color:rgb(241, 245, 245);
    text-align: center;
    margin-left: 40px;
    height:26px;
    font-size:13px;
   

    
}
.h3 p:hover{
    margin-top:-5px;
    background-color:lightseagreen;
    transition:4s;
    transform:scale(1.3);
    padding: 10px;
    border-radius: 21px;
    
  
   

}
.main3{
    background-color:#2E8B57;
    width:95em;
    height:25em;
    margin-top: 2.4em;
    display:flex;
    margin-left: -7px;
    color:white;
    font-family: Cursive;
}
.main3 h1{
    color:white;
    font-size: 3em;
    margin-left:60%;
    width:13em;
    margin-top:2em;
}
.main3 p{
    font-size: 16px;
    width:800px;
    margin-left:50%;
    margin-top:-25px;
}

.my{
background-color: white;
width: 79%;
height: auto;
padding: 10px;
box-shadow: -10px -5px 10px 1px rgb(228, 23, 23);
}
.hero iframe{
box-shadow: 4px 6px 6px 2px rgb(224, 243, 118);
margin-left: 200px;
width:20%;
height:20%;
}

  




}
.downpic2{
    display:flex;
    width:40px;
    background-color: red;
}
.downpic2 img{
    width:40em;
    margin-left: 50;
    height:60em;
}
.backleft{
    width:100em;
    margin-left: 100px;
    
}

}
.downpic2right img{
    margin-left: 10.1em;
    width:40em;
    margin-top:0em;
}

.placetext1 p{
    width:500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    margin-left:110px;
    color:darkslategray;
}
.downimg2 img{
    width:20em;
    margin-left:47em;
    margin-top: -450px;
    width:40em;
    height:60em;

}









}
.mainlast{
    display:flex;
}

.mainlast input{
    margin-left:40em;
}

.gogo{
    
    display:flex;
    background-color: #556B2F;
    height:20em;
    width:110%;
    margin-left:-2em;

}
.adventure{
    display:flex;
    background-color:#08A04B;
    height:20em;
    width:110%;
    margin-left:-2em;
    color:white;
}
.lastfoter122{
    color:#485342;
}


.from420 h1{
    margin-left:270px;
    margin-top:-60px;
    font-size: 6em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.from420 h6{
    color:white;
    margin-left:330px;
    margin-top:70px;
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.from500 h1{
    margin-left:270px;
    margin-top:-60px;
    font-size: 6em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
.from500 h6{
    color:#485342;
    margin-left:330px;
    margin-top:70px;
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cool6 input{
    background-color:#B0B6B1;
    color:#485342;
    border:none;
    height:40px;
    width:50em;
    margin-top:20px;
    margin-left:13em;
}
.cool6 input:hover{
    background-color:#e5efe6;
    color:#485342;
    border:none;
    height:40px;
    transition:0.4s;
}
::-webkit-input-placeholder{
    color:#72947a;

}
.cool7 input::placeholder{
    color:blue;
}
.lastfoter2 label{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:-30px;
    margin-left:11em;
    
}
input[type=submit]
{
    color:white;
    border-radius:50px;
    margin-top:-20px;
    background-color:#485342;
    border:3px solid white;
    width:14em;
    height:2.5em;
    font-size: 2;
    letter-spacing: 2px;
    text-decoration: solid;
    margin-left:11em;
}
input[type=submit]:hover{
    background-color:#e5efe6;
    transition: 0.4s;
    color:lightslategray;
    border-color:lightslategray;
}
.subscribe{
    font-size:25px;
    letter-spacing:2px;
    font-style: normal;
    text-decoration:;
    margin-left:6em;
    margin-top:2em;
    
}
.adventure1{
    font-size:25px;
    letter-spacing:2px;
    font-style: normal;
    text-decoration:;
    margin-left:6em;
    margin-top:2em;
    
}
.adventure1 h1{
    color:white;
    
}
.adventure input{
    background-color:#08A04B;
}
.je p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:9.5em; 
    letter-spacing: 0.5px;
    line-height: 27px;
    color:white;
    width:600px;
    height:12px;
}
.je1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:9.5em; 
    letter-spacing: 0.5px;
    line-height: 27px;
    color:white;
    width:600px;
    height:12px;
}


.lastmain{
    display:flex;
    position: center;
    margin-top:90px;
    margin-left:100px;
    color:white;
}
.lastmain a{
    margin-left:30em;
    color:white;
}
.email p{
    margin-left:15em;
    color:white;
    margin-top:-2px;
}
.lastmain h1{
    color:white;
}
.email img{
    margin-left:13.5em;
}
.submit input:hover{
    background-color: white;
    transition: 2s;
}
.gogo input{
   
    color:white;
    background-color:#556B2F;
}
.box textarea{
    background-color:#A6ACA7;
    color:rgb(99, 113, 113);
    border: none;
}
.box textarea:hover{
    background-color:#f5faf6;
    color:rgb(99, 113, 113);
    border: none;
    transition: 0.5s;
}

.all-inputs{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:7em;
    margin-left: 5em;
    font-size: 14px;
    

}
.all-inputs input{
    width:34em;
    height:3em;
    background-color: #A6ACA7;
    border: none;
}
.all-inputs input:hover{
    width:34em;
    height:3em;
    background-color: #f1f8f2;
    transition: 0.5s;
    border: none;
}
.gogo12{
    
    display:flex;
    background-color:#2F3A29;
    height:40em;
    width:110%;
    margin-left:-2em;

}
.lastfoter123{
    margin-top:10em;
}
.finalsubmit input{
    margin-top:40em;
    margin-left: -34em;
}
.mainnice00{
    width: 10%;
    height: 10em;
	background-image:url("../image/car.gif");
    animation:10s fayyaz;
}
@keyframes fayyaz {
    2%{
        transform: move(5.10);
		margin-left:1000px;
		background-image:url("../image/car.gif");
		
    
    }
}
.mainnice00 img{
    margin-left:15em;
}