<!DocType html>
<html>
<head><link rel="stylesheet" href="../assests/css/contact.css">
        <title>Assi</title>
</head>
<body>
<div class="main">
    <div class="poveda"><a href="./index.html">POVEDA</a></div>
  <div class="cool1"><a href="./pricing.html">PRICING</a></div>
    <div class="cool2"><a href="./visit.html">VISIT</a></div>
    <div class="cool3"><a href="./aboutus.html">ABOUT US</a></div>
    <div class="cool4"><a href="./contact.html">CONTACT</a></div>
</div><br><br><br>
<br><br><br><br><br><br><br><br>
<br>

    
</div>><br><br><br><br><br>


</div></center>



<div class="gogo">
    
  
</div></center>
<div class="mainofmain">
    <div class="backcolor">
    <fieldset><legend>
        Fill Forms
    </legend>
    
    <div class="net"><center><h1>Agency Booking Form</center></h1><hr><br></div>
    <div class="allinput">
        <label>Name:</label><br><input type="text" placeholder="Enter Name" id="myname"><br><br>
        <label>Fahter's:</label><br><input type="text" placeholder="Father's Name"><br><br>
        <label>Date of Birth:</label>
        <div class="birth"><input type="date" placeholder="Father's Name">
        <div class="radio1"><input type="radio" name="a">Male<input type="radio" name="a">Female<br><br></div>
        </div>
        <label>Email:</label><br><input type="text" placeholder="Enter Email"><br><br>
        <label>Contact:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Package</label><div class="contact"><input type="number" placeholder="Enter Contact No"><br><br>
            <div class="select"><select>
                <optiion>lower</optiion>
                <option>Economy</option>
                <option>Start</option>
                <option disabled>silver</option>
                <option selected>gold</option>
            </select></div>
        </div><br>
        <label>Address:</label><br><input type="text" placeholder="Enter your full address"><br><br>
        <label>where you want to go:</label><br><input type="text" placeholder="Enter Location"><br><br>
        <div class="submityes"><input type="submit" value="submit"></div>
    </div>
        

    <div class="frontcolor"></div>
    </div>
</div><br>

<div class="gogo12">
    <div class="lastfoter123">
        <div class="subscribe"><h1>CONTACT US</h1></div>
        <div class="je"><P>Bali is an amazing place to find exactly what you are looking for, be it relief from stress, an exciting adventure or an immersive culture. Contact us so we can help you organize a memorable stay at one of the most magical places on the planet.</P><br></P>
            <div class="hero"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d751.9702706141093!2d68.33280828279881!3d25.39255470261956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x394c7b97266a2801%3A0xfb9646c0252e07a6!2sDigital%20sindh%20Institute%20of%20Managment%20%26%20Technology!5e1!3m2!1sen!2s!4v1702574512287!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div></div>
    </div>
    <div class="all-inputs">
        <label>Name*</label><br><input type="text" placeholder="Your name"><br><br>
        <label>Last name</label><br><input type="text" placeholder="Your last name"><br><br>
        <label>Your email*</label><br><input type="email" placeholder="Your email address"><br><br><label>Message</label>
        <div class="box"><textarea rows="10" cols="60">Enter your message</textarea></div>
    </div>
    <div class="finalsubmit"> <b></b><input type="submit" value="LEARN MORE"></div>
</div>



<div class="lastmain">
    <div class="endpovida"><h1>POVIDA</h1></div>
    <div class="ancer">
        <a href="">About us</a><br>
        <a href="">Visit</a><br>
        <a href="">Pricing</a><br>
        <a href="">Contact</a>
    </div>
    <div class="email"><p>fayyazsoomro01@gmail.com<br>0312-3001817</p>
        <div class="mainnice00">
            <div><img src="../assests/image/cool.png" width="80px" height="40px"></div>
         
        
            </div>
    </div>


</div>
</body>
</html>