<!DocType html>
<html>
<head><link rel="stylesheet" href="../assests/css/price.css">
        <title>Assi</title>
</head>
<body>
<div class="main">
    <div class="poveda"><a href="./index.html">POVEDA</a></div>
    <div class="cool1"><a href="./pricing.html">PRICING</a></div>
    <div class="cool2"><a href="./visit.html">VISIT</a></div>
    <div class="cool3"><a href="./aboutus.html">ABOUT US</a></div>
    <div class="cool4"><a href="./contact.html">CONTACT</a></div>
</div><br><br><br>
<div class="what">IT'S TIME TO</div>
<div class="h7">&nbsp;&nbsp;CHOOSE BALI</div>
<br>

</div>><br><br><br><br><br>

<div class="main3">
    <center><h1>WHAT WE CAN OFFER</h1><br>
    <p>Need a place to get away? There is no better corner in the world to hide from the dull everyday than the magical Bali. Relax on the picturesque beaches, visit numerous spas and reside in the breathtaking resorts this location has to offer – and forget all of your worries.</center></p></h3>
</div></center>



<div class="gogo">
    <div class="lastfoter12">
        <div class="subscribe"><h1>RELAX IN BALI</h1></div>
        <div class="je"><P>Amazing, all-inclusive resorts, beautiful beaches and mindfulness sessions - these are just a few of the things that will help you relax and enjoy your holiday.</P><br></P></div>
        <div> <b></b><input type="submit" value="LEARN MORE"></div>
    </div>
    <div class="from420"><h6>From</h6><h1>$420</h1></div>
</div>

<div class="adventure">
    <div class="lastfoter122">
        <div class="adventure1"><h1>ADVENTURE IN BALI</h1></div>
        <div class="je1"><P>Explore the tropical nature, hop on a scooter to drive around the island or choose other activities, such as water sports, to make your holiday memorable.</P><br></P></div>
        <div> <b></b><input type="submit" value="LEARN MORE"></div>
    </div>
    <div class="from500"><h6>From</h6><h1>$500</h1></div>
</div>
<div class="gogo">
    <div class="lastfoter12">
        <div class="subscribe"><h1>FEEL THE CULTURE</h1></div>
        <div class="je"><P>The Balinese culture is ready for the curious – ancient monuments, local festivals and exotic food make you leave the island with deeper knowledge of its lifestyle.</P><br></P></div>
        <div> <b></b><input type="submit" value="LEARN MORE"></div>
    </div>
    <div class="from420"><h6>From</h6><h1>$600</h1></div>
</div>
<div class="adventure">
    <div class="lastfoter122">
        <div class="adventure1"><h1>
            PERSONAL ADVENTURE</h1></div>
        <div class="je1"><P>Looking for something a bit more out there? No problem. We are here to help you plan your special experience and find the best solutions on how to make your wishes come true. Contact us to make your dream vacation come true.</P><br></P></div>
        <div> <b></b><input type="submit" value="LEARN MORE"></div>
    </div>
    <div class="from500"><h6>From</h6><h1>$700</h1></div>
</div>

<div class="gogo12">
    <div class="lastfoter123">
        <div class="subscribe"><h1>CONTACT US</h1></div>
        <div class="je"><P>Bali is an amazing place to find exactly what you are looking for, be it relief from stress, an exciting adventure or an immersive culture. Contact us so we can help you organize a memorable stay at one of the most magical places on the planet.</P><br></P></div>
    </div>
    <div class="all-inputs">
        <label>Name*</label><br><input type="text" placeholder="Your name"><br><br>
        <label>Last name</label><br><input type="text" placeholder="Your last name"><br><br>
        <label>Your email*</label><br><input type="email" placeholder="Your email address"><br><br><label>Message</label>
        <div class="box"><textarea rows="10" cols="60">Enter your message</textarea></div>
    </div>
    <div class="finalsubmit"> <b></b><input type="submit" value="LEARN MORE"></div>
</div>



<div class="lastmain">
    <div class="endpovida"><h1>POVIDA</h1></div>
    <div class="ancer">
        <a href="">About us</a><br>
        <a href="">Visit</a><br>
        <a href="">Pricing</a><br>
        <a href="">Contact</a>
    </div>
    <div class="email"><p>fayyazsoomro01@gmail.com<br>0312-3001817</p>
        <div class="mainnice00">
            <div><img src="../assests/image/cool.png" width="80px" height="40px"></div>
         
        
            </div>

</div>
</body>
</html>